h1{
	text-align: center;
}
ul.SKIN-SENJATA{
	list-style-type: square; /* list dengan bentuk square */
}
ul.BUNDLE{
	list-style-type: circle;  /* list dengan bentuk lingkaran */
}
ol.DIAMOND{
	list-style-type: upper-alpha;  /* list dengan bentuk alpha */
}
ol.DIAMOND{
	list-style-type: circle;  /* list dengan bentuk romawi */
}
